<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css-b/style2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/admin"><span class="material-symbols-outlined">arrow_back</span></a> 
    </header>
    <main>
    <section>
    <form class="form-container" action="/cadastrausuario" method="post">

        <div>

            <div class="foto">
                <h1>Cadastro</h1>
                <span class="material-symbols-outlined">
                    account_circle
                    </span>
            </div>

            <div class="inpus">
            <label for="txtnome">Nome</label>
            <input type="text" name="txtnome" id="txtnome">
        </div>

            <div class="inpus">
            <label for="txtemail">Email</label>
            <input type="email" name="txtemail" id="txtemail">

            </div>
            <div class="inpus">
            <label for="txtsenha">Senha</label>
            <input type="password" name="txtsenha" id="txtsenha">
            </div>
            <div class="inpus">
                <div class="sumiu">
            <label for="txtnivel">Nivel</label>
            <select name="txtnivel"class="txtnivel" id="txtnivel" >
         
                <option value="0">Comum</option>
         
            </select>
        </div>
        </div>
           

          
        </div>
<div class="conbut">
<input class="confirma" type="submit" name="" id="">
</div>
    </form>
</section>
</main>
<footer></footer>
</body>
</html>