<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css-b/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section>
            <div class="espaco">
                <h1>Seja Bem Vindo</h1>
            
                <figure>
                <img src="images/localiza.png" alt="">
            </figure>
            </div>
            <div class="espaco-bot">
                <a href="/logar"><button class="inicial">ENTRAR</button></a>
                <a href="/cadastrar"><button class="inicial">CADASTRAR-SE</button></a>
            </div>
            <div class="espaco">
                <p>Descubra novos horizontes, explore cada canto da cidade e viva experiências únicas com nosso aplicativo. Transforme cada dia em uma aventura e faça da sua jornada uma história inesquecível!</p>
            </div>
        </section>
    </main>
</body>
</html>